extends layout

block content
  //-var selected = 'admin';
  div(class="container-fluid")
    div(class="row")
      div(class="col-sm-3 col-md-2 sidebar")
        ul(class="nav nav-sidebar")
            li(class="active")
              a(href="#") Overview
            li
              a(href="#") Reports
            li
              a(href="#") Analytics
            li
              a(href="#") Export
      div(class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main")
          h1(class="page-header") Dashboard

          h2(class="sub-header") Section title
          div(class="table-responsive")
            table(class="table table-striped")
              thead
                tr
                  th #
                  th Header
                  th Header
                  th Header
                  th Header
              tbody
                tr
                  td 1,001
                  td Lorem
                  td ipsum
                  td dolor
                  td sit

block link
  -var nav_active= 'admin-index';