extends admin

block main
  h1(class="page-header") Accounts

  button(type="button", class="btn btn-primary") Create
  br
  div(class="table-responsive")
    table(class="table table-striped")
      thead
        tr
          th #
          th Header
          th Header
          th Header
          th Header
      tbody
        tr
          td 1,001
          td Lorem
          td ipsum
          td dolor
          td sit