extends layout

block content
  div(class="container-fluid")
    div(class="row")
      div(class="col-sm-3 col-md-2 sidebar")
        block sidebar
         
      div(class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main")
        block breadcrumbs
        block main

          

block link
  -var nav_active= 'admin';