doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
  body
    
    div(id="nav", class='navbar navbar-inverse navbar-fixed-top')
      div(class="container")
        div(class="navbar-header")
          a(class='navbar-brand', href='/')
            img(alt="Logo", src="/images/Electronics-48.png", width="20", height="20")

        div(id="navbar", class="collapse navbar-collapse")
          ul(class='nav navbar-nav')
            li
              a(href='/') Home
            
    block content
